<div class="item">

  <label [for]="item.description">{{item.description}} : {{item.status}}</label>

  <div class="btn-wrapper" *ngIf="!editable">
    <button class="btn" (click)="editable = !editable">Edit</button>
    <button class="btn btn-warn" (click)="remove.emit()">Delete</button>
  </div>

  <!-- Этот блок отображается, если пользователь кликнул на кнопку Edit -->
  <div *ngIf="editable">
    <input class="sm-text-input" placeholder="edit item" [value]="item.description" #editedItem
      (keyup.enter)="saveItem(editedItem.value, statusSelect.value)">
    <select class="statusSelect" name="statusSelect" id="statusSelect" #statusSelect>
      <option *ngFor="let status of statusArr" [value]="status">{{status}}</option>
    </select>
    <div class="btn-wrapper">
      <button class="btn" (click)="editable = !editable">Cancel</button>
      <button class="btn btn-save" (click)="saveItem(editedItem.value, statusSelect.value)">Save</button>
    </div>
  </div>
</div>
